<a href="https://colab.research.google.com/github/limjs0108/ai/blob/main/02HW20220126%EC%9E%84%EC%A7%84%EC%84%9D31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 051
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [2]:
# 052
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [3]:
# 053
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [4]:
# 054
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [5]:
# 055
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [6]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [7]:
# 057
nums = [1, 2, 3, 4, 5, 6, 7]
max = max(nums)
min = min(nums)
print(f'max: {max}\n\nmin: {min}')

max: 7

min: 1

In [8]:
# 058
nums = [1, 2, 3, 4, 5]
print(sum(nums[:]))

15

In [9]:
# 059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [10]:
# 060
nums = [1,2,3,4,5]
sum_nums = float(sum(nums[:]))
print((sum_nums/len(nums)))

3.0

In [11]:
# 121
char1 = input('>> ')
if char1.islower():
  print(char1.upper())
else:
  print(char1.lower())

>> a
A

In [12]:
# 122
score = int(input('>> '))
if score > 80:
  grade = 'A'
elif score > 60:
  grade = 'B'
elif score > 40:
  grade = 'C'
elif score > 20:
  grade = 'D'
else:
  grade = 'E'

print(f'grade is {grade}')

>> 90
grade is A

In [13]:
# 123
inp = input('>> 입력 : ')
void = inp.index(' ')
gold = int(inp[:void])

if '달러' in inp:
  print(float(gold*1167))
elif '엔' in inp:
  print(float(gold*1.096))
elif '유로' in inp:
  print(float(gold*1268))
else:
  print(float(gold*171))

>> 입력 : 540 달러
630180.0

In [14]:
# 124
num1 = int(input('>> input number1: '))
num2 = int(input('>> input number2: '))
num3 = int(input('>> input number3: '))
max_num = 0

if num1 > num2 & num1 > num3:
  max_num = num1
elif num2 > num3:
  max_num = num2
else:
  max_num = num3

print(max_num)

>> input number1: 1
>> input number2: 2
>> input number3: 3
3

In [15]:
# 125
p_num = input('>> 휴대전화 번호 입력: ')
eq = p_num[:3]
if eq == '011':
  tel = 'SKT'
elif eq == '016':
  tel = 'KT'
elif eq == '019':
  tel = 'LGU'
else:
  tel = '알수없음'

print(f'당신은 {tel} 사용자입니다.')

>> 휴대전화 번호 입력: 010-2206-7609
당신은 알수없음 사용자입니다.

In [16]:
# 126
addr = input('>> 우편번호: ')
test = int(addr[2])

if test < 3:
  print('강북구')
elif test < 6:
  print('도봉구')
else:
  print('노원구')

>> 우편번호: 01154
강북구

In [17]:
# 127
id = input('>> 주민등록번호: ')
test = id[7]
if test == '1' or test == '3':
  print('남자')
elif test == '2' or test == '4':
  print('여자')

>> 주민등록번호: 940108-1032426
남자

In [18]:
# 128
id = input('>> 주민등록번호: ')
test = int(id[8:10])

if test < 9:
  print('서울입니다.')
else:
  print('서울이 아닙니다.')

>> 주민등록번호: 940108-1032426
서울입니다.

In [20]:
# 129
id = list(input('>> 주민등록번호: '))
del id[6]
print(id)
va = [2,3,4,5,6,7,8,9,2,3,4,5]
sum = 0
for i in range (0,12):
  sum += int(id[i])*int(va[i])

last = 11 - (sum % 11)
if last == int(id[12]):
  print('유효한 주민등록번호입니다.')
else:
  print('유효하지 않은 주민등록번호입니다.')

>> 주민등록번호: 940108-1032426
['9', '4', '0', '1', '0', '8', '1', '0', '3', '2', '4', '2', '6']
6
유효한 주민등록번호입니다.

In [34]:
import requests

btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
width = int(btc["max_price"]) - int(btc["min_price"])
if (int(btc["opening_price"]) + width) > int(btc["max_price"]):
  print('상승장')
else:
  print('하락장')

상승장