<a href="https://colab.research.google.com/github/limjs0108/ai/blob/main/04HW20220207%EC%9E%84%EC%A7%84%EC%84%9D31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 211

def print_1(str1):
  print(str1)

print_1('안녕')
print_1('Hi')

안녕
Hi

In [ ]:
# 212

def add(a, b):
  print(a + b)

add(3,4)
add(7,8)

7
15

In [ ]:
# 213

# 함수의 input 부분에 입력을 하지 않음

In [ ]:
# 214

# string 타입과 int 타입은 + 연산을 할 수 없음

In [ ]:
# 215

def print_with_smile(str2):
  print(f'{str2}:D')

In [ ]:
# 216
def print_with_smile(str2):
  print(f'{str2}:D')

print_with_smile("안녕하세요")

안녕하세요:D

In [ ]:
# 217

def print_upper_price():
  price = int(input('현재 가격 입력 : '))
  print(f'상한가 : {price*1.3}')

print_upper_price()

현재 가격 입력 : 500
상한가 : 650.0

In [ ]:
# 218

def print_sum():
  a = int(input('첫 번째 수 입력 : '))
  b = int(input('두 번째 수 입력 : '))
  print(f'두 수의 합은 {a+b} 입니다.')

print_sum()

첫 번째 수 입력 : 1
두 번째 수 입력 : 2
두 수의 합은 3 입니다.

In [ ]:
# 219

def print_arithmetic_operation():
  a = int(input('첫 번째 수 입력 : '))
  b = int(input('두 번째 수 입력 : '))
  print(f'a + b = {a + b}')
  print(f'a - b = {a - b}')
  print(f'a * b = {a * b}')
  print(f'a / b = {a / b}')

print_arithmetic_operation()

첫 번째 수 입력 : 1
두 번째 수 입력 : 2
a + b = 3
a - b = -1
a * b = 2
a / b = 0.5

In [ ]:
# 220

def print_max():
  a = int(input('첫 번째 수 입력 : '))
  b = int(input('두 번째 수 입력 : '))
  c = int(input('세 번째 수 입력 : '))
  if a > b and a > c:
    print(f'가장 큰 수는 {a} 입니다.')
  elif b > c:
    print(f'가장 큰 수는 {b} 입니다.')
  else:
    print(f'가장 큰 수는 {c} 입니다.')

print_max()

첫 번째 수 입력 : 1
두 번째 수 입력 : 2
세 번째 수 입력 : 3
가장 큰 수는 3 입니다.

In [ ]:
# 221

def print_reverse(str3):
  for i in range(-1,(-1*len(str3) - 1),-1):
    print(str3[i], end = "")
  print()

print_reverse('python')

nohtyp
olleh

In [ ]:
# 222

def print_score(args):
  print(sum(args) / len(args))

print_score([1,2,3])

2.0

In [ ]:
# 223

def print_even(args):
  for i in args:
    if i % 2 == 0:
      print(i)

print_even([1,3,2,10,12,11,15])

2
10
12

In [ ]:
# 224

def print_keys(args):
  for key,val in args.items():
    print(f'{key} : {val}')

print_keys({"이름" : "김말똥", "나이" : 30, "성별" : 0})

이름 : 김말똥
나이 : 30
성별 : 0

In [ ]:
# 225

def print_value_by_key(dict, date):
  print(dict[date])

my_dict = {"10/26" : [100, 130, 100, 100], "10/27" : [10, 12, 10, 11]}
print_value_by_key(my_dict,"10/26")

[100, 130, 100, 100]

In [ ]:
# 226

def print_5xn(str4):
  cnt = 0
  for i in str4:
      print(i, end = "")
      cnt += 1
      if cnt % 5 == 0:
        print()

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
# 227

def print_mxn(str5, n):
  cnt = 0
  for i in str5:
    print(i, end = "")
    cnt += 1
    if cnt % n == 0:
      print()

print_mxn("아이엠어보이유알어걸",3)

아이엠
어보이
유알어
걸

In [ ]:
# 228

def calc_monthly_salary(annual_salary):
  print(int(annual_salary / 12))

calc_monthly_salary(12000000)

1000000

In [ ]:
# 229

def my_print(a, b):
  print("왼쪽:", a)
  print("오른쪽:", b)

my_print(a = 100, b = 200)

왼쪽: 100
오른쪽: 200

In [ ]:
# 230

def my_print(a, b):
  print("왼쪽:", a)
  print("오른쪽:", b)

my_print(b = 100, a = 200)

왼쪽: 200
오른쪽: 100