<a href="https://colab.research.google.com/github/limjs0108/ai/blob/main/05HW20220208%EC%9E%84%EC%A7%84%EC%84%9D31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 231

def n_plus_1(n) :
  result = n + 1

n_plus_1(3)


# 4

In [ ]:
# 232

def make_url(str):
  str1 = "www." + str + ".com"
  return str1

print(make_url("naver"))

www.naver.com

In [ ]:
# 233

def make_list(str):
  list_str = []
  for i in str:
    list_str.append(i)
  return list_str

print(make_list("abcd"))

['a', 'b', 'c', 'd']

In [ ]:
# 234

def pickup_even(args):
  list_args = []
  for i in args:
    if i % 2 == 0:
      list_args.append(i)
  return list_args

print(pickup_even([3,4,5,6,7,8]))

[4, 6, 8]

In [ ]:
# 235

def convert_int(str):
  str = str.replace(",","")
  return str

print(convert_int("1,234,567"))

1234567

In [ ]:
# 236

def add_4(num):
  return num +4 

a = add_4(10)
b = add_4(a)
c = add_4(b)

# c = 22

In [ ]:
# 237

def add_4(num):
  return num +4 

c = add_4(add_4(add_4(10)))

# c = 22

In [ ]:
# 238

def add_4(num):
  return num + 4

def mul_10(num):
  return num * 10

a = add_4(10)
c = mul_10(a)

# c = 140

In [ ]:
# 239

def add_4(num):
  return num +4

def add_m2(num):
  num = num + 2
  return add_4(num)

c = add_m2(10)

# c = 16

16

In [ ]:
# 240

def mul_2(num):
  return num * 2

def add_2(num):
  return mul_2(num+2)

def add_10(num):
  num = num + 10
  return add_2(num)

c = add_10(2)

# c = 28

28

In [ ]:
# 291

f = open("C:\\Users\\polim\\Desktop\\매수종목1.txt",'w')
f.write('005930\n')
f.write('005380\n')
f.write('035420\n')
f.close()

In [ ]:
# 292

f = open("C:\\Users\\polim\\Desktop\\매수종목2.txt",'w')
f.write('005930 삼성전자\n')
f.write('005380 현대차\n')
f.write('035420 NAVER\n')
f.close()

In [ ]:
# 293

title = "종목명 종목코드 PER".split(" ")

f = open("C:\\Users\\polim\\Desktop\\매수종목.csv",'w',encoding="cp949")
w = csv.writer(f)

data1 = "삼성전자 005930 15.79".split(" ")
data2 = "NAVER 035420 55.82".split(" ")
w.writerow(data1)
w.writerow(data2)

20

In [ ]:
# 294

f = open("C:\\Users\\polim\\Desktop\\매수종목2.txt", 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

005930 삼성전자

005380 현대차

035420 NAVER

In [ ]:
# 295

f = open("C:\\Users\\polim\\Desktop\\매수종목2.txt", 'r')
keys = []
values = []

while True:  
  line = f.readline()
  line_list = line.split(" ")
  keys.append(line_list[0])
  values.append(line_list[1])
  if not line: break
f.close()

my_dict = dict(zip(keys,values))
print(my_dict)

IndexError: ignored

In [ ]:
# 296

per = ['10.31', "", '8.00']
for i in per:
  try:
      print(float(i))
  except:
    print(0)

10.31
0
8.0

In [ ]:
# 297

per = ["10.31", "", "8.00"]
new_list = []
for i in per:
  try:
      float(i)
      new_list.append(i) 
  except:
    print(0)

print(new_list)

0
['10.31', '8.00']

In [ ]:
# 298

a = int(input('a 입력 >> '))
b = int(input('b 입력 >> '))

try:
  c = a / b
  print(c)
except:
  print('0으로 나눌 수 없습니다.')

a 입력 >> 5
b 입력 >> 0
0으로 나눌 수 없습니다.

In [ ]:
# 299

data = [1, 2, 3]

for i in range(5):
  try:
    print(data[i])
  except IndexError as e:
    print(e)

1
2
3
list index out of range
list index out of range

In [ ]:
# 300

per = ["10.31", "", "8.00"]

for i in per:
  try:
    print(float(i))
  except:
    print('실수 타입이 아닙니다.')
  else:
    print('else 구문 실행')
  finally:
    print('finally 구문 실행')

10.31
else 구문 실행
finally 구문 실행
실수 타입이 아닙니다.
finally 구문 실행
8.0
else 구문 실행
finally 구문 실행