<a href="https://colab.research.google.com/github/limjs0108/ai/blob/main/06HW20220209%EC%9E%84%EC%A7%84%EC%84%9D31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 436 
x = ''
if bool(x):
  print('Yes')
else:
  print('No')

# c. No

In [ ]:
# 437
x = ' '
if bool(x):
  print('Yes')
else:
  print('No')

# b. yes

In [ ]:
# 438
x = []
if bool(x):
  print('Yes')
else:
  print('No')

# c. No

In [ ]:
# 439
x = [1, 2, 3]
if bool(x):
  print('Yes')
else:
  print('No')

# b. Yes

In [ ]:
# 440
x = ''
if not bool(x):
  print('Yes')
else:
  print('No')

# a. Yes

In [ ]:
# 441
x = 'print("Python")' 
eval(x)

# c. Python

In [ ]:
# 442
x = input("Enter an expression: ")
print(eval(x))

# c. 90

In [ ]:
# 444
a = ['a', 'b', 'c', 'A', 'B']
print(max(a))

# d. c

In [ ]:
# 445
a = ['a', 'b', 'c', 'A', 'B']
print(min(a))

# b. A

In [ ]:
# 446
a = ['a', 'b', 'c','1', '2', 'A', 'B']
print(max(a))

# d. c

In [ ]:
# 447
a = ['a', 'b', 'c','1', '2', 'A', 'B']
print(min(a))

# c. 1

In [ ]:
# 448
a = [1, 2, 3]
print(sum(a))

# d. 6

In [ ]:
# 449
a = list(range(0,10,3))
print(sum(a))

# c. 18

In [ ]:
# 450
a = list(range(10,-10,3))
print(sum(a))

# b. 0

In [ ]:
# 451
a = list(range(-10,5,2))
print(sum(a))

# a. -24

In [ ]:
# 452
x = [5,4,3,2,1]
y = x.copy()
x[0] = 6
print(y)

# c. [5,4,3,2,1]

In [ ]:
# 453
import copy
x = [5,4,3,2,1]
y = copy.copy(x)
x.append(6)
print(y[0])

# d. 5

In [ ]:
# 454
import keyword
print(keyword.iskeyword('IS'))

# d. False

In [ ]:
# 455
import keyword
print(keyword.iskeyword('for'))

# a. True

In [23]:
# Algorithm Homework
s_num = 1
e_num = 10000
cnt = 0 # 8의 개수를 카운팅 하기 위한 변수
while s_num < e_num:
  for i in str(s_num):  # 숫자를 문자열로 변환하여
    if i == '8':        # 각 자리수 마다 8이 있는지 검사
      cnt += 1          # 8이 있으면 카운팅
  s_num += 1            # 시작 숫자 1 올림

print(cnt)

4000