<a href="https://colab.research.google.com/github/limjs0108/ai/blob/master/10HW20220216%EC%9E%84%EC%A7%84%EC%84%9D31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 516
x = [1, 2, 3, 4] 
y = tuple(x)

# c

In [3]:
# 517
x = [1, 2, 3, 4] 
y = tuple(x)
z = list(y)

# d

list

In [4]:
# 518
x = 'Python' 
y = list(x) 
print(y)

# d

['P', 'y', 't', 'h', 'o', 'n']

In [5]:
# 519
x = 'Python' 
y = tuple(x) 
print(y)

# c

('P', 'y', 't', 'h', 'o', 'n')

In [6]:
# 520
x = ('Python') 
print(x)

# b

Python

In [7]:
# 521
x = ('Python',) 
print(x)

# a

('Python',)

In [8]:
# 522
x = [0, 2, 4, 6] 
print(tuple(x))

# b

(0, 2, 4, 6)

In [9]:
# 523
x = (0, 2, 4, 6) 
print(list(x))

# a

[0, 2, 4, 6]

In [10]:
# 524
x = 'Python' 
print(list(x))

# c

['P', 'y', 't', 'h', 'o', 'n']

In [11]:
# 525
x = 'Python' 
print(tuple(x))

# a

('P', 'y', 't', 'h', 'o', 'n')

In [12]:
# 526
x = [4, 5, 7, 8, 9] 
y = x 
y[1] = 6 
print(y)

# c

[4, 6, 7, 8, 9]

In [13]:
# 527
x = [4, 5, 7, 8, 9] 
y = x 
y[1] = 6 
print(x)

# c

[4, 6, 7, 8, 9]

In [14]:
# 528
def abc(z): 
  z.append(44) 
  
x = [7, 8, 9] 
abc(x) 
print(x) 

# b

[7, 8, 9, 44]

In [15]:
# 529
import copy 
x = [5, 4, 3, 2, 1] 
y = copy.copy(x) 
x.append(6) 
print(y[-1])

# d

1

In [16]:
# 530
import copy 
x = [5, 4, 3, 2, 1] 
y = copy.copy(x) 
x[2] = 6 
print(y[2])

# a

3

In [17]:
# 531
import copy 
x = [5, 4, 3, 2, 1]
y = [7, 8, 9] 
z = [x, y] 
a = copy.copy(z) 
x[2] = 6 
print(a) 

# b

[[5, 4, 6, 2, 1], [7, 8, 9]]

In [18]:
# 532
import copy 
x = [5, 4, 3, 2, 1] 
y = [7, 8, 9] 
z = [x, y] 
a = copy.deepcopy(z) 
x[2] = 6 
print(a) 

# a

[[5, 4, 3, 2, 1], [7, 8, 9]]

In [19]:
# 533
x = {'day':'Sunday', 'week':10} 
print(x['year']) 

# b

KeyError: ignored

In [21]:
# 534
x = {'day':'Sunday', 'week':10} 
for i in x.values(): 
  print(i, end=' ') 

# a

Sunday 10

In [22]:
# 535
x = {'day':'Sunday', 'week':10} 
for i in x: 
  print(i, end=' ')

# b

day week

In [57]:
# Algorithm Homework
import math
try:
  num = float(input('입력하시오 : '))
  r_num = round(eval('num/2'),1)
  res = str(r_num)
  if res[-1] == '5' or res[-1] == '0':
    print('정수입니다.')
  else:
    print('소수입니다.') 
except:
  print('math error')

입력하시오 : 0.335
소수입니다.