<a href="https://colab.research.google.com/github/limjs0108/ai/blob/main/Day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# 실수 float

a = float(1)
print(a)

b = float(True)
print(b)

c = float('3.14')
print(c)

d = float('100')
print(d)

1.0
1.0
3.14
100.0

In [7]:
# bool 논리 True or False

a = bool(0)
print(a)

b = bool()
print(b)

c = bool([])
print(c)

d = bool([100])
print(d)

False
False
False
True

In [10]:
################
# 문자열 String
################

a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [15]:
# 문자열 인덱싱

# hello 파이썬은 0에서 시작한다.

s = 'Hello'
print(s[4])

print(s[-1])
print(s[-5]==s[0])

ss = '990211-1005432'
print(ss[7])

o
o
True
1

In [19]:
ss = '990211-1005432'
print(ss[0:2]) # 0 번째 부터 2번째 미만까지..[start:stop:step] step은 생락 가능...
print(ss[0:10:2])

99
901-0

In [27]:
# print

print('Hello World')
print('Hello \'World\'')
print("Hello \"World\"")

print("Hello \n'World'")

Hello World
Hello 'World'
Hello "World"
Hello
'World'

In [28]:
print('이름 \n전화')

이름
전화

In [30]:
print('이름\t연락처')
print('홍길동\t010-2020-2903')

이름	연락처
홍길동	010-2020-2903

In [31]:
print('재미있는 ','파이썬')

재미있는  파이썬

In [33]:
print('평점', end=':')
print('5점')

평점:5점

In [37]:
print('국어','영어','수학')
print('국어','영어','수학',sep = '/')
print('국어','영어','수학',sep = ', ')
print('국어','영어','수학',sep = '\n')
print('\n국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어, 영어, 수학
국어
영어
수학

국어
영어
수학

In [49]:
# %연산자
print(10)
print('%d' % 10)      # %d decimal 정수
print('%f' % 3.14)    # %f float 실수
print('%s' % '학생')  # %s string 문자열 

print('%d 을 입력하세오' % 10)      
print('원주율은 %f 입니다' % 3.14)    
print('원주율은 %s 입니다' % 3.14)
print('저는 %s 입니다.' % '학생') 

std = "대학생"
print('저는 %s 입니다.' % std)

10
10
3.140000
학생
10 을 입력하세오
원주율은 3.14 입니다
원주율은 3.14 입니다
저는 학생 입니다.
저는 대학생 입니다.

In [52]:
print("%d" % 1)
print("%5d" % 1)
print("%-5d" % 1)
print("%5d" % 11)
print("%-5d" % 11)

1
    1
1
   11
11

In [55]:
print('원주율은 %f 입니다' % 3.14)
print('원주율은 %5.2f 입니다' % 3.14)
print('')

원주율은 3.140000 입니다
원주율은  3.14 입니다

In [57]:
name = 'kai'
height = 185.5
print("내 키는 %s입니다." % height)
print("내 키는 %s이고 이름은 %s입니다." % (height, name))
print("내 키는 {}이고 이름은 {}입니다.".format(height, name))

내 키는 185.5입니다.
내 키는 185.5이고 이름은 kai입니다.
내 키는 185.5이고 이름은 kai입니다.

In [56]:
# format()

zipcode = '06236'
print('우편번호 : %s' % zipcode)
print('우편번호 : {}'.format(zipcode))

우편번호 : 06236
우편번호 : 06236

In [59]:
print('My name is {}. I\'m {} years old.'.format('James',25))
print('My name is {1}. I\'m {0} years old.'.format(25,'James'))
print('My name is {name}. I\'m {age} years old.'.format(name = 'James',age = 25))

My name is James. I'm 25 years old.
My name is James. I'm 25 years old.
My name is James. I'm 25 years old.

In [60]:
# f-strings
# 파이썬 3.6 이후 부터 사용 가능

who = 'you'
how = 'happy'
print(f'{who} make me {how}')

you make me happy

In [63]:
age = 25
print(f'내년에는 {age+1} 입니다.')

내년에는 26 입니다.

In [67]:
##############
# 입력 input()
##############

n = input('당신의 나이를 입력하세요 ')
print(f'당신이 입력한 내용은 {n} 입니다.')
print('당신이 입력한 내용은', n , '입니다.')

당신의 나이를 입력하세요 20
당신이 입력한 내용은 20 입니다.
당신이 입력한 내용은 20 입니다.

In [73]:
name = input('이름을 입력하세요 ')
age = input('나이를 입력하세요 ')

print('당신의 이름은' , name , '이고 나이는' , age ,'입니다.')      # 기본
print('당신의 이름은 %s 이고 나이는 %s 입니다.' % (name, age))      # %
print('당신의 이름은 {} 이고 나이는 {} 입니다.'.format(name,age))   # format()
print(f'당신의 이름은 {name} 이고 나이는 {age} 입니다.')            # f-string

이름을 입력하세요 임진석
나이를 입력하세요 27
당신의 이름은 임진석 이고 나이는 27 입니다.
당신의 이름은 임진석 이고 나이는 27 입니다.
당신의 이름은 임진석 이고 나이는 27 입니다.
당신의 이름은 임진석 이고 나이는 27 입니다.

In [85]:
month = int(input('할부 개월 입력 : '))
money = round(50000 / month,2)
print(f'{month} 개월 동안 매달 내는 금액은 {money} 입니다.')
print('%d 개월 동안 매달 내는 금액은 %s 입니다.' % (month, money))
print('{} 개월 동안 매달 내는 금액은 {} 입니다.'.format(month, money))
print(month , '개월 동안 매달 내는 금액은' ,money, '입니다.')

할부 개월 입력 : 3
3 개월 동안 매달 내는 금액은 16666.67 입니다.
3 개월 동안 매달 내는 금액은 16666.67 입니다.
3 개월 동안 매달 내는 금액은 16666.67 입니다.
3 개월 동안 매달 내는 금액은 16666.67 입니다.

In [91]:
num1 = float(input('실수 1 : '))
num2 = float(input('실수 2 : '))
sum = num1 + num2

print(f'{num1} 과 {num2}의 합계는 {sum}입니다.')

실수 1 : 2
실수 2 : 3
2.0 과 3.0의 합계는 5.0입니다.